.counter-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height:100vh;
  /* width: 70%; */
  background-color: green;
 
  

}

.counter-wrapper {
  display: flex;
  gap: 10px;
  font-size: 40px;
}
